body {
  background-color: #000;
  position: relative;
}

h1 {
  color: #f0f;
}

.body-wrapper {
  display: block;
  height: 100vh;
}

.body-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#mask {
  width: 1300px;
}

#mask img {
  width: 100%;
}

#motionbackground {
  position: fixed;
  left: 475px;
  height: 614px;
  top: 124px;
  z-index: 999999;
}

#reversebackground {
  position: fixed;
  left: 475px;
  height: 614px;
  top: 124px;
  z-index: 9999999;
}

.hidden {
  display: none;
}

#video-controls {
  position: fixed;
  left: 499px;
  top: 721px;
  z-index: 9999999;
}

#seek-bar {
  width: 300px;
}

#seek-bar2 {
  width: 300px;
  margin-bottom: 50px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 300px;
  height: 3px;
  background: #fff;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  outline: none;
  border-radius: 10%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 5px;
  height: 15px;
  background: #000;
  position: relative;
  border-radius: 25%;
  border: 3px solid #fff;
  z-index: 3;
  cursor: pointer;
}
